%h2= title
%p= author
%p= date
%p= description
%a{href: "/#{url}/#{pdf}"} Link to PDF
%a{href: "/#{url}/#{pdf}", download: "#{pdf}"} Download PDF
%img{src: "/assets/images/#{cover}", alt: "cover image", width: "100px", height: "200px"}
